.projectdiv {
    background: linear-gradient(to bottom right, #ff9d00 0%, #ffee00 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0px;
}

.projectdiv h1{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    color: white;
}

.projectcard{
    background-color: white;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 15px 0px rgb(71, 71, 71);
}



.projectcard h1{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    color: black;
}